.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #3e497a;
  }
  
  .about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #21325e;
    color: #f0f0f0;
  }
  
  .about h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    color: #e9d35b;
    height: 50px;
  }

  .about h3 {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: rgb(183, 187, 233);
    height: 50px;
  }
  
  
  .about .prompt {
    width: 40%;
    font-size: 30px;
  }
  .prompt svg {
    font-size: 60px;
    margin: 5px;
    color: white;
  }
  
  .skills {
    font-size: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .skills h1 {
    color: #3e497a;
  }
  
  .skills .list {
    list-style: none;
    width: 60%;
  }
  
  .list span {
    font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .skills {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }
  }

  .home > .title {
    text-align: center;
    color: #950d0d;
    font-size: 45px;
    margin-top: 5%;
    margin-bottom: 7%;
  }

  .skills-container {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
}

.skill-box {
  flex-basis: calc(33.33% - 2*5%); /* 33.33% width with 5% margin on each side */
  background-color: #424242; /* Darker box color */
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: max-height 0.5s ease-in-out, transform 0.5s ease-in-out;
  margin-bottom: 5%; /* Margin between boxes */
  position: relative;
  border-radius: 2%;
  border: 1px solid rgb(11, 11, 11);
  overflow: hidden;
  max-height: 42px;
}

.skill-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  background: rgba(51, 51, 51);
  padding: 10px; /* Add padding for better visibility */
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: inherit;
}

.skill-box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #424242; /* Darker box color */
  border-radius: inherit;
  z-index: -1;
}

.hidden-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  padding: 10px; /* Add padding to hidden content */
  padding-top: 50px;
  box-sizing: border-box;
  z-index: 0;
  border-radius: inherit;
  transition: max-height 0.5s ease-in-out;
  max-height: 0;
}

.skill-box:hover {
  max-height: 400px; /* Adjust this value based on your content */
}

.skill-box:hover .hidden-content {
  max-height: 400px; /* Expand the hidden content on hover */
}

@media screen and (max-width: 768px) {
  .skill-box {
      flex-basis: calc(50% - 2*5%); /* 50% width with 5% margin on each side for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .skill-box {
      flex-basis: calc(100% - 2*5%); /* 100% width with 5% margin on each side for even smaller screens */
  }
}