.navbar {
    margin-top: 35px;
    width: 20%;
    height: 50px;
    /* background: linear-gradient(#9c1616, #b63534); */
    background: transparent;
    align-items: center;
    align-self: center;
    border-bottom: 5pt solid #b63534;
    border-bottom-left-radius: 3pt;
    border-bottom-right-radius: 3pt;
  }
  
  .links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .navbar a {
    color: rgb(15, 14, 14);
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
  }

  .navbar a:hover {
    color: rgb(71, 68, 68);
  }

  .toggleButton {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .toggleButton svg {
    font-size: 50px;
  }
  .toggleButton button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  #open {
    height: 100vh;
  }
  
  #open .links {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
  }
  
  #open a {
    width: 100%;
    text-align: center;
  }
  
  @media only screen and (max-width: 900px) {
    .navbar a {
      width: 70px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .toggleButton {
      display: flex;
    }
    #close a {
      display: none;
    }
    .navbar {
      border-bottom: none;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .toggleButton {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  
    #open {
      height: 100px;
    }
  
    #open .links {
      flex-direction: row;
    }
  }