.slick-center .skill-card {
    opacity: 1;
    transform: scale(1.08);
}

.skill-card {
    border: 10px solid #6e0808;
    border-radius: 10px;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/white-waves.png);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin: 5% 15% 5% 15%;
    aspect-ratio: 225/325;
    height: auto;
    opacity: 0.6;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.75vw;
    align-content: space-around;
    flex-wrap: wrap;
}

.card-header .card-header-line {
    
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    width: 100%;
    height: 5vw;
    border-top: 0.15em solid rgba(0, 0, 0, 0.66);
    border-bottom: 0.15em solid rgba(0, 0, 0, 0.66);

}

.card-header h2 {
    font-family: Georgia,Times,Times New Roman,serif; 
    font-size: 1.5vw;
    color: rgb(139, 95, 6);
}

.main-icon {
    width: 50%; /* Adjust size as needed */
    height: auto;
    margin: 1vw;
}

.skills {
    margin-top: 2vw;
    display: table;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-row {
    display: table-row;
    width: 100%;
}

.skills-cell {
    display: inline-grid;
    width: 40%;
    margin: 3%;
}

.skills td {
    font-size: 1em;
}

.skill-item {
    display: flex;
    flex-direction: column;
    margin: 3%;
    /* flex-direction: row;
    align-items: center; */
}

.skill-icon {
    width: 1em!important; /* Adjust size as needed */
    height: auto!important;
    margin: 0.5rem;
    float: left;
}

.skill-text {
    margin: 0;
    font-size: 1.1vw;
    padding-top: 5%;
    color: rgba(17, 15, 15, 0.842);
    font-family: Verdana, Geneva, Tahoma, monospace;
}

#long-text {
    font-size: 1vw;
}

.progress-container {
    width: 75%;
}

.progress {
    height: 0.5rem;
    background-image: 
        linear-gradient(#ccc,#ccc),
        linear-gradient(to right,#34b695, #3493b6);
    background-size:var(--p,50%) 100%,100% 100%;
    background-position:right,left;
    background-repeat:no-repeat;
}

@media only screen and (max-width: 900px) {
    .skill-text {
        margin: 0;
        font-size: 1.7vw;
        padding-top: 5%;
    }
    .card-header h2 {
        font-size: 2vw;
    }
    .card-header .card-header-line {
        height: 7.5vw;
    }
    .main-icon {
        margin: 2vw;
    }
    .skills {
        margin-top: 4vw;
    }

    #long-text {
        font-size: 1.4vw;
    }
}

@media only screen and (max-width: 600px) {
    .skill-text {
        margin: 0;
        font-size: 3.3vw;
        padding-top: 5%;
    }
    .card-header h2 {
        font-size: 3.5vw;
    }
    .card-header .card-header-line {
        height: 10vw;
    }
    .main-icon {
        margin: 3vw;
    }
    .skills {
        margin-top: 6vw;
    }
    #long-text {
        font-size: 2.6vw;
    }
}